<li class="html_editor input optional" data-policy="{&quot;document&quot;:&quot;policy document&quot;,&quot;signature&quot;:&quot;policy signature&quot;}" id="page_content_input">
    <label class=" label" for="page_content">Content</label>
    <div class="wrap">
        <textarea id="page_content" name="page[content]" rows="20"></textarea>
    </div>
    <div style="clear: both"></div>
</li>
