@import 'active_admin/mixins';

.active_admin_editor {
  width: 76%;
  float: left;

  textarea {
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 300px;
    border-top: 1px solid lighten(#C9D0D6, 10%);

    &:focus {
      @include box-shadow(none);
      border: 1px solid #C9D0D6;
      border-top: 1px solid lighten(#C9D0D6, 10%);
    }
  }

  .active_admin_editor_toolbar {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #C9D0D6;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background: #fff;

    ul li {
      display: inline-block;
    }

    ul li a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;

      &.wysihtml5-command-active,
      &.wysihtml5-action-active,
      &.wysihtml5-command-dialog-opened {
        text-decoration: underline;
      }
    }
  }

  .active_admin_editor_dialog {
    border-top: 1px solid #C9D0D6;
    padding: 10px 20px;
    margin: 0 -10px;

    label {
      margin-bottom: 10px;
      width: 300px;

      input {
        display: block;
      }

      select {
        display: block;
      }
    }

    .action-group {
      display: block;
      float: right;
      margin-top: 5px;
      clear: both;
    }
  }
}
