@import 'active_admin/mixins';

.active_admin_editor {
  width: 76%;
  float: left;

  textarea {
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 300px;
    border-top: none;

    &:focus {
      @include box-shadow(none);
      border: 1px solid #C9D0D6;
      border-top: none;
    }
  }

  .active_admin_editor_toolbar {
    border: 1px solid #C9D0D6;
    border-bottom-style: dashed;
    border-radius: 3px 3px 0 0;
    background: #fff;

    ul li {
      display: inline-block;
    }

    ul li a {
      display: block;
      padding: 5px 10px;

      &.wysihtml5-command-active {
        font-weight: bold;
      }
    }
  }

  .active_admin_editor_dialog {
    border-top: 1px dashed #C9D0D6;
    padding: 10px;

    label {
      margin-bottom: 10px;

      select {
        display: block;
      }
    }

    .action-group {
      display: block;
      float: right;
      clear: both;
    }
  }

  iframe.wysihtml5-sandbox {
    box-sizing: border-box !important;
  }
}
